<div class="modal-content">
    <div class="modal-header">
        <a type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title" id="myModalLabel">اطلاعات مربوط به شعبه</h4>
    </div>

    <form class="">
        <div class="modal-body clearfix">
            <div class="input-line clearfix">
                <div class="col-md-12">
                    <div class="input-cnt form-control clearfix">
                        <span class="lable-input">نام شعبه</span>
                        <input name="title" class="input-input" value="<%= (model.title ? model.title : '') %>">
                    </div>
                </div>               
            </div>
            <div class="input-line clearfix">
                <div class="col-md-6">
                    <div class="input-cnt form-control clearfix">
                        <span class="lable-input">تلفن</span>
                        <input name="phone" class="input-input" value="<%= (model.phone ? model.phone : '') %>">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-cnt form-control clearfix">
                        <span class="lable-input">تلفن گویا</span>
                        <input name="ivr" class="input-input" value="<%= (model.ivr ? model.ivr : '') %>">
                    </div>
                </div>
            </div>
            <div class="input-line clearfix">
                <div class="col-md-6">
                    <div class="input-cnt form-control clearfix">
                        <span class="lable-input">فکس</span>
                        <input name="fax" class="input-input" value="<%= (model.fax ? model.fax : '') %>">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-cnt form-control clearfix">
                        <span class="lable-input">ایمیل</span>
                        <input name="email" class="input-input" value="<%= (model.email ? model.email : '') %>">
                    </div>
                </div>
            </div>
            <div class="input-line clearfix">
                <div class="col-md-12">
                    <div class="input-cnt form-control clearfix">
                        <span class="lable-input">آدرس</span>
                        <input name="address" class="input-input" value="<%= (model.address ? model.address : '') %>">
                    </div>
                </div>
            </div>
           <div class="input-line clearfix">
                <div class="col-md-12">
                    <div class="gmaps verticalCenter" id="map-canvas-form">
                        <div class="loading-wrapper">
                            <div class="loading-container">
                                <div class="loading-circle"></div>
                                <div id="loading-text">شکیبا باشید</div>
                            </div>
                        </div>
                    </div>
                    <div class="mask-map hide">
                        <span class="select-map">مکان مورد نظر را انتخاب کنید</span>
                    </div>
                </div>
            </div> 
        </div>  
 
        <div class="modal-footer">
            <div class="col-md-12">
                <button type="button" class="btn red btn-outline btn-sm" data-dismiss="modal">بستن</button>
                <button type="button" class="btn red btn-sm btn-submit">ذخیره</button>
            </div>
        </div>
    </form>     
</div>
