    <nav class="navbar navbar-default verticalCenter">
        <div class="creat-item">
            <a type="button" class="btn red btn-sm approve">
                <span>ایجاد شعبه</span>
            </a>
        </div>
    </nav>    

    <table id="myDatatable" class="table table-hover responsive nowrap table-bordered dataTable no-footer dtr-inline">
        <thead> 
            <tr>
                <th>شماره بانک</th>
                <th>نام بانک</th>
                <th>آدرس</th>
                <th>تلفن</th>
                <th>تلفن گویا</th>
                <th>فکس</th>
                <th>ایمیل</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false"></div>