
<div class="wrapper border-bottom page-heading clearfix">
	<div class="col-sm-12">
    <div class="clearfix">
  		<h2 class="pull-right">جزییات شعبه <%= ( model && model.title ? model.title : '') %></h2>
      <h4 class="pull-left">
        <span> شماره شعبه : </span>
        <span><%= ( model && model.id ? model.id : '' ) %></span>
      </h4>
    </div>
    <div class="wrapper-btn-detail pull-left">
      <button type="button" class="btn blue btn-outline btn-sm edit">ویرایش</button>
      <button type="button" class="btn red btn-sm remove">حذف</button>
    </div>
	</div>
</div>



<div class="wrapper-content ">
	<div class="row">
          <div class="col-sm-12">
            <div class="ibox">
              <div class="widgets-container">
                <div class="row">
                  <p class="col-sm-6">تلفن :
                    <%= ( model && model.phone ? model.phone : '') %>
                  </p>      
                  <p class="col-sm-6">تلفن گویا:
                    <%= ( model && model.ivr ? model.ivr : '') %>
                  </p>      
                  <p class="col-sm-6">فکس :
                    <%= ( model && model.fax ? model.fax : '') %>
                  </p> 
                  <p class="col-sm-6">ایمیل :
                    <%= ( model && model.email ? model.phone : '') %>
                  </p>      
                  <p class="col-sm-12">آدرس :
                    <%= ( model && model.address ? model.address : '') %>
                  </p>
                </div>
		    	      <div class="gmaps verticalCenter" id="map-canvas">
                  <div class="loading-wrapper">
                    <div class="loading-container">
                      <div class="loading-circle"></div>
                      <div id="loading-text">شکیبا باشید</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false"></div>