<table id="myDatatable" class="table table-hover responsive nowrap table-bordered dataTable no-footer dtr-inline">
	<thead>
        <tr>
            <th>شناسه</th>
            <th>نوع</th>
            <th>متن</th>
            <th>تاریخ</th>
            <th></th>
        </tr>
    </thead>
</table>