<div class="middle-content">
	<div class = "list-holder all-notification"></div>	
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false"></div>