/*!
 * Adminbag v1.3 (http://adminbag-v1.3.bittyfox.com/)
 * Copyright AdminBag Company © 2017 
 * 
 */
 body {background-color: #292929}
.uppercase {
    text-transform: uppercase !important;
}

.page-header.navbar {
    background-color: #172983;
    border-bottom: 1px solid #172983;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 2px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

.page-header.navbar .menu-toggler {
    background-image: url("../images/sidebar_toggler_icon_darkblue.png");
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username, 
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
    color: #ffffff;
}


.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover, .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
    background: none;
    color: #ffffff;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
    color: #ffffff;
}

 
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background-color: #292929;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .input-group, .page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.open .input-group {
    background-color: #292929;
}


.page-content {
    background-color: #f3f3f3;
    margin-top: 0;
    padding: 0;
    overflow: auto;
}

.page-sidebar.collapse {
    display: block;
    max-height: none !important;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    padding-bottom: 0;
}



.page-sidebar .sidebar-search .input-group, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group {
    border-bottom: 1px solid #435060;
}

.page-sidebar .sidebar-search .input-group .form-control, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control {
    background-color: #292929;
    color: #4e5c6f;
}

.form-control {
    outline: 0 none !important;
}
.btn, .form-control {
    box-shadow: none !important;
}


.page-sidebar-menu-light .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-menu-light .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-menu-light .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-menu-light .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    background: none;
    border-top-color: transparent;
    color: #fff;
}


.page-sidebar-menu-light .page-sidebar .page-sidebar-menu > li.open , .page-sidebar-menu-light .page-sidebar .page-sidebar-menu > li.active , .page-sidebar-menu-light .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active , .page-sidebar-menu-light .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active  {
    background: #293846 none repeat scroll 0 0;
    border-left: 4px solid #172983;
}


.page-sidebar-menu-light .page-sidebar .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar-menu-light .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-menu-light .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-menu-light .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar-menu-light .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-menu-light .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a {
    background: none !important;
     color: #fff; 
}

.page-sidebar .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a {
    background: #2e2828 none repeat scroll 0 0 !important;
}

.page-sidebar .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a {
    background: #191919 none repeat scroll 0 0;
    color: #b4bcc8;
}

.page-sidebar .page-sidebar-menu .sub-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a {
    color: #b4bcc8;
}

.page-sidebar .page-sidebar-menu > li.heading > h3, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading > h3 {
    color: #708096;
}

.page-sidebar .page-sidebar-menu > li.heading > h3, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading > h3 {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    border-top-color: rgba(0, 0, 0, 0);
    color: #00acff;
}


 
.page-sidebar-menu-light .page-sidebar:hover .page-sidebar-menu > li.active > a {
    background: #191919;   
}

/*
.page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"], .page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"] {
    color: #6b788b;
}*/

.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    color: #b4bcc8;
}
.page-sidebar .page-sidebar-menu li:hover > a > .arrow.open::before, .page-sidebar .page-sidebar-menu li:hover > a > .arrow::before, .page-sidebar .page-sidebar-menu li > a > .arrow.open::before, .page-sidebar .page-sidebar-menu li > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow.open::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow::before{
   color: #606c7d;
}

.page-sidebar .sidebar-search .input-group .input-group-btn .btn, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .input-group-btn .btn{
    background-color: #292929;
    color: #4e5c6f;
}

.page-sidebar .page-sidebar-menu > li.active > a > .arrow.open::before, .page-sidebar .page-sidebar-menu > li.active > a > .arrow::before, .page-sidebar .page-sidebar-menu > li.active > a > i, .page-sidebar .page-sidebar-menu > li.active > a > .arrow.open::before, .page-sidebar .page-sidebar-menu > li.active > a > .arrow::before, .page-sidebar .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow.open::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow.open::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i {
   color: #00acff;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #29aba4;
    border-color: #29aba4;
    color: #ffffff;
    z-index: 2;
}

.footer {
    background: white none repeat scroll 0 0;
    border-top: 1px solid #dddfe2;
  }

.footer a {
    color: #2f4050;
}


.page-header.navbar .hor-menu .navbar-nav > li.active > a, .page-header.navbar .hor-menu .navbar-nav > li.current > a {
    background: #292929  none repeat scroll 0 0 ;
    color: #fff;
}

.page-header.navbar .hor-menu .navbar-nav > li.active .selected, .page-header.navbar .hor-menu .navbar-nav > li.current .selected {
    border-top: 6px solid #292929 ;
}

.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3, .page-header.navbar .hor-menu .navbar-nav > li > a {
    color: #ffffff;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a, .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a > i {
    color: #c6cfda;
}

.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3, .page-header.navbar .hor-menu .navbar-nav > li > a {
    color: #c6cfda;
}




.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a:hover, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a:hover {
    background: #fff none repeat scroll 0 0;
    color: #292929;
}

.page-header.navbar .hor-menu.hor-menu-light  .navbar-nav > li.active .selected, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current .selected {
    border-top: 6px solid #fff;
}

.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3, .page-header.navbar .hor-menu .navbar-nav > li > a {
    color: #ffffff;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a {
    color: #ffffff;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li > a {
    color: #000;
}


.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu {
    background: #fff none repeat scroll 0 0;
    box-shadow: 5px 5px rgba(63, 79, 98, 0.2);
}


.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu { 
    background: #3f4f62 none repeat scroll 0 0;
    box-shadow: 5px 5px rgba(63, 79, 98, 0.2); 
}


.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    color: #b4bcc8;
}

a {
    color: #00acff;
    text-decoration: none;
}

a:hover, a:focus {
    color: #f18f8f;
}

.library-menu span {
    background-color: #fff;}

.library-menu.active span.one,
.library-menu.active span.two,
.library-menu.active span.three {
    background-color: #fff;
}

.page-sidebar .page-sidebar-menu .sub-menu { background: #191919; }

.project-list .progress-bar {
    background-color: #172983;
}

.progress-mini .progress-bar {
    background-color: #172983;
}
.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
    color: #00acff;
}

.fc-event, .fc-agenda .fc-event-time, .fc-event a {
    background-color: #172983;
    border-color: #172983;  
}

.fc-state-active {
    background-color: #172983;
    border-color: #172983;
    color: #ffffff;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover{
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #172983;
}
.slick-prev::before, .slick-next::before {
    color: #172983 !important;
}
.slick-list {
    border: 1px solid #292929;
}
.slick-dots li.slick-active button::before {
    color: #00acff;
}
.product-price {
    background-color: #172983;}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #292929;
    border-color: #292929;   
}

.faq-item a{
    color: #292929;
}
.faq-item a:hover{
    color: #00acff;
}
.product-name:hover, .product-name:focus {
    color: #00acff;
}

.text-navy {
    color: #00acff;
}

.form-control:focus {
    border-color: #172983;  
}
.profile-page .page-content {
    background: #172983 none repeat scroll 0 0;
}



table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
    background-color: #172983;
    }
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child::before {
    background-color: #172983;
}

.irs-from::after, .irs-to::after, .irs-single::after {
    border-color: #172983 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

    .irs-from, .irs-to, .irs-single {
    background: #172983 none repeat scroll 0 0;}

      .page-header.navbar .search-form {
    border: 1px solid #ca0c0b;
}

  .page-header.navbar .btn.submit {
    color: #fff;
    margin-top: 3px;
}

.page-header .form-control::-moz-placeholder {
    color: #f2f2f2;
    opacity: 1;
}