@import url('./animate.css');

@font-face {
  font-family: 'IRANSans_Light';
  src: url('font/IRANSans_Light.ttf') ;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  direction: rtl;
}
body{
  font-family: 'IRANSans_Light';
}
@media (max-width: 768px) {
  html, body {
    font-size: 50%;
  }
}

svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: visible;
}

.svg-icon {
  cursor: pointer;
}
.svg-icon path {
  stroke: rgba(255, 255, 255, 0.9);
  fill: none;
  stroke-width: 1;
}

input, button {
  outline: none;
  border: none;
}
.dirl{
  direction: ltr;
}
input::-webkit-input-placeholder{
  color: #aaa;
  text-align:right;
}
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,{
  color: #aaa;
  text-align:right;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 90000s ease-in-out 0s;
    -webkit-text-fill-color: #fff;
}
label.form-invalid{
    margin: 3px;
    display: block;
    color: #fff;
    font-size: 10px;
    position: absolute;
    right: 35px;
    top: 10px;
    background-color: #172983;
    border-radius: 3px;
    padding: 6px;
}
.bootstrap-select label.form-invalid {
    left: 28px;
    top: 1px;
    right: auto;
}
.cont {
  position: relative;
  height: 100%;
  background-image: url("/images/login.jpg");
  background-size: cover;
  overflow: auto;
}

.demo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.login {
  position: relative;
  height: 100%;
 /* background: -webkit-linear-gradient(top, rgba(146, 135, 187, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);*/
  -webkit-transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25), -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  -webkit-transform: scale(1);
          transform: scale(1);

  border-radius: 6px;          
}

.login__check {
  position: absolute;
  top: 16rem;
  left: 13.5rem;
  width: 14rem;
  height: 2.8rem;
  background: #fff;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.login__check:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 2.8rem;
  height: 5.2rem;
  background: #fff;
  box-shadow: inset -0.2rem -2rem 2rem rgba(0, 0, 0, 0.2);
}
.login__form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem 2.5rem;
  text-align: center;


    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
     -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}
.login__row {
  height: 5rem;
  padding-top: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
}
.login__icon {
  margin-bottom: -0.4rem;
  margin-right: 0.5rem;
}
.login__icon.name path {
  stroke-dasharray: 73.50196075439453;
  stroke-dashoffset: 73.50196075439453;
  -webkit-animation: animatePath 2s 0.5s forwards;
          animation: animatePath 2s 0.5s forwards;
}
.login__icon.pass path  {
  stroke-dasharray: 92.10662841796875;
  stroke-dashoffset: 92.10662841796875;
  -webkit-animation: animatePath 2s 0.5s forwards;
          animation: animatePath 2s 0.5s forwards;
}
.login__input {
    display: inline-block;
    width: 217px;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 15px;
    background: transparent;
    color: #fff;
    margin-right: 5px;
}

.login__submit {
  position: relative;
  width: 100%;
  height: 4rem;
  margin: 40px 0 20px;
  color: rgba(255, 255, 255, 0.8);
  background: #003AA3;
  font-size: 1.5rem;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
  transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}
.login__submit:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
  width: 3rem;
  height: 3rem;
  border: 2px dotted #fff;
  border-radius: 50%;
  border-left: none;
  border-bottom: none;
  -webkit-transition: opacity 0.1s 0.4s;
  transition: opacity 0.1s 0.4s;
  opacity: 0;
}
.login__submit.processing {
  width: 4rem;
  font-size: 0;
}
.login__submit.processing:after {
  opacity: 1;
  -webkit-animation: rotate 0.5s 0.4s infinite linear;
          animation: rotate 0.5s 0.4s infinite linear;
}
.login__submit.success {
  -webkit-transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
  -webkit-transform: scale(30);
          transform: scale(30);
  opacity: 0.9;
}
.login__submit.success:after {
  -webkit-transition: opacity 0.1s 0s;
  transition: opacity 0.1s 0s;
  opacity: 0;
  -webkit-animation: none;
          animation: none;
}
.login__signup {
    font-size: 1.2rem;
    color: #ABA8AE;
    text-align: center;
}
.login__signup a {
    color: #fff;
    cursor: pointer;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}

a:focus{
  outline: none;
  box-shadow: none;
}
.ui-pnotify{
    font-size: 14px;
}
.ui-pnotify-closer, .ui-pnotify-sticker{
  float: left;
  margin-right: 0.2em ;
  margin-left: auto;
}
.ui-pnotify-icon, .ui-pnotify-icon span{
  float: right;
  margin-right: auto;
  margin-left: 0.2em ;
}
.bootstrap-select.role-login , .bootstrap-select.role-forgot{
    width: 100% !important;
    margin-bottom: 10px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
  text-align: right;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    left: 12px;
    right: auto;
}
.dropdown-menu{
  text-align:right;
  background-color: #9f8333;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    outline: none !important;
    outline-offset: 0;
}
.btn-default{
  background-color: transparent !important;
  border-color: rgba(255, 255, 255, 0.4) !important;
  color: #fff !important;
}
.btn-default:hover{
  background-color: transparent !important;
}
.dropdown-menu>li>a{
  color: #fff !important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
      background-color: rgba(0,0,0,0.2);
}

.btn-me{
    color: #fff;
    background-color: #003AA3;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.btn-me:hover{
   color: #fff;
}

.modal-content{
    background-color: #9f8333;
    color: #fff;
}
.modal-content .form-control{
    background-color: transparent;
    border-color : rgba(255, 255, 255, 0.4) !important;
}
.modal-content .form-control:focus{
  box-shadow: none;
}

.close{
  float: left;
}
.modal-header{
  border-bottom: none;
}