.dataTables_wrapper .dataTables_length{
  float: right;
  margin-bottom: 10px;
}
div.dataTables_wrapper div.dataTables_filter{
  float: left;
  margin-bottom: 10px;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting{
	padding-left: 30px;
	padding-right: 18px; 
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
	left: 8px;
	right: auto;
}
table.dataTable thead .sorting_asc , table.dataTable thead .sorting_desc,table.dataTable thead .sorting{
	background-image: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	margin: 0;
	padding: 0;
}
.dataTables_wrapper .dataTables_info{
	float: right;
  margin-top: 10px !important;
}
.dataTables_wrapper .dataTables_paginate{
	float: left;
  margin-top: 10px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border: 1px solid transparent;
    background: none;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination{
  margin:0;
}
div.dataTables_wrapper div.dataTables_info{
  margin:0;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    background-color: #238dd8;
    border-color: transparent;
    border-radius: 2px;
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child{
	border-right-width: 1px;
}
div.dataTables_wrapper div.dataTables_filter input{
  margin-left:0;
}
div.dataTables_wrapper div.dataTables_filter label{
  margin:0;
}
div.dataTables_wrapper div.dataTables_length label{
  margin: 0;
}
.btn.red:not(.btn-outline) {
    color: #fff;
    background-color: #3598dd;
    border-color: #3598dd;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline:none;
    outline-offset: 0;
}
.btn.red:not(.btn-outline).active, .btn.red:not(.btn-outline):active, .btn.red:not(.btn-outline):hover, .open>.btn.red:not(.btn-outline).dropdown-toggle {
    color: #fff;
    background-color: #238dd8;
    border-color: #238dd8;
}
.img-circle {
    border-radius: 50% !important;
}
.audio .embed-responsive{
    padding-bottom: 35px;
}
.audio .modal-dialog{
    top: 40%;
}


.ui-pnotify{
    font-size: 14px;
}
.ui-pnotify-closer, .ui-pnotify-sticker{
  float: left;
  margin-right: 0.2em ;
  margin-left: auto;
}
.ui-pnotify-icon, .ui-pnotify-icon span{
  float: right;
  margin-right: auto;
  margin-left: 0.2em ;
}

.datepicker-plot-area{
  z-index: 10000;
}

.datepicker-plot-area .datepicker-header .btn-next,
.datepicker-plot-area .datepicker-header .btn-prev{
      transform: rotate(180deg);
}


button[disabled], html input[disabled]{
  background-color: #e7e7e7;
}



.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th{
  padding:0;
}
.bootstrap-datetimepicker-widget table td {
     height: 15px; 
     line-height: 15px; 
     width: 15px; 
}
.bootstrap-datetimepicker-widget table td span {
     width: 15px; 
     height: 15px; 
     line-height: 15px; 
     margin: 0; 
}
.bootstrap-datetimepicker-widget a[data-action]{
  padding:0;
}
.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second{
     width: 15px; 
     font-weight: bold; 
     font-size: 16px; 
     margin: 0; 
}
.bootstrap-datetimepicker-widget button[data-action] {
    padding: 3px;
}
.bootstrap-datetimepicker-widget.dropdown-menu{
  width: 120px;
  min-width: 120px;
  direction: ltr;
}
.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after{
    content: "Toggle قظ/بظ" !important;
}
.has-error.form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
/***************media******************/
@media (max-width: 1024px){
  .toggle-wrapper{
    margin-bottom: 10px;
    text-align:right;
  }
}
@media (max-width: 768px){
  .page-header-fixed .page-container{
    height: 100%;
  }
  .page-sidebar{
    margin-top: 5px;
  }
  .notPadding{
    padding-left: 10px;
    padding-right: 10px; 
  }
  .content-me{
    padding: 60px 20px 30px;
  }

  .modal{
    top: 100px;
  }
}

@media screen and (max-width: 640px){
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0em; 
  }
  .creat-item {
    position: absolute;
    left: 0px;
    top: -35px;
  }
}

@media screen and (max-width: 450px){

  div.dataTables_wrapper div.dataTables_filter{
    float: right;
  }
  .dataTables_wrapper .dataTables_paginate{
    float: right;
  }
  body{
    min-width: 449px;
  }
}
