/******************base***************/

@font-face {
  font-family: 'IranSans';
  src: url('font/IRANSans_Light.eot');
  src: url('font/IRANSans_Light.eot?#iefix') format('embedded-opentype'),
       url('font/IRANSans_Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body{
    color: #555;
    font-family: 'IranSans' , "oxygen", "Roboto Condensed", sans-serif, Arial;
    font-size: 14px;
    position: relative;
    padding:0;
}

.dataTables_info , .dataTables_paginate,
.dataTables_length , .dataTables_length select{
  font-family: 'IranSans';
}
.bootstrap-datetimepicker-widget{
  font-family: 'IranSans';
}
:focus {
    outline: none !important;
}
input:focus,textarea:focus{
    outline: none;
}
a:hover, a:focus{
    color: #6386b3;
    text-decoration: none;
}
a{
    color: #5275a2;
    text-decoration: none;
    cursor: pointer;
}
ul , li {
  margin:0;
  padding:0;
  list-style: none;
}
.pull-left {
    float: left!important;
}
.pull-right {
    float: right!important;
}
.ltr{
  direction: ltr;
  text-align:left;
}
.txleft{
  text-align: left !important;
}
.txright{
  text-align: right;
}
.txcenter{
  text-align: center; 
}
.dpInlineB{
  display: inline-block;
}
.color-green{
  color: #4AB64A;
}
.color-red{
  color: #00acff;
}
.color-yellow{
  color: #FF9800;
}
.bg-color-green{
  background-color: #4AB64A;
}
.bg-color-red{
  background-color: #172983;
}

.bg-color-yellow{
  background-color: #FF9800;
}

.f16{
  font-size: 16px;
  line-height: 17px;
}
th {
    background-color: #f0f0f0;
}
.tooltip-inner{
  white-space: nowrap;
}
.whiteNorm{
  white-space: normal;
}
.verticalCenter{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
     -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}
.input-line {
    margin-bottom: 20px;
}
.input-cnt {
    padding: 4px;
    line-height: 20px;
    border-radius: 5px;
    height: auto;
    box-shadow: none;
    border: 1px solid #aaa;
    position: relative;
}
.lable-input {
    border-left: 1px solid #aaa;
    padding-left: 4px;
    float: right;
    width: 100px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
.input-input {
    width: calc(100% - 104px);
    border: none;
    margin: 0 4px 0 0;
    text-align: right;
    background-color: transparent;
    padding: 0;
    float: right;
}
textarea{
  resize: none;
}
.description-box textarea{
    border: none;
    width: calc(100% - 100px);
    background-color: transparent;
    border-right: 1px solid #aaa;
    border-radius: 0;
    padding: 0 6px 0 0;
    float: right;
}
.description-box .lable-input {
    border-left: none;
}
.bootstrap-select {
    width: calc(100% - 100px) !important;
    border: none;
    padding: 0 4px 0 0;
    text-align: center;
}
.bootstrap-select > button {
    background-image: none !important;
    border: none !important;
    box-shadow: none !important;
    line-height: 20px !important;
    padding: 0px !important;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: center;
}
.bootstrap-select.btn-group .dropdown-toggle .caret{
  right: auto;
  left: 12px;
}
.dropdown-menu {
    left: 0;
    right: auto;
}
.bootstrap-select .dropdown-toggle:focus{
  outline: none !important;
}
.mask-map {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0px;
    bottom: 10px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}
.mask-map span.select-map {
    color: #fff;
    background-color: #172983;
    padding: 5px 10px;
    border: 1px solid #172983;
    border-radius: 5px;
    display: inline-block;
    margin-top: 130px;
    cursor: pointer;
}
.widgets-container p{
  line-height: 24px;
}
.widgets-container p []{
  line-height: 20px;
}
.checked-me {
    float: left;
}
input[type='checkbox'].toggle {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    height: 10px;
    background-color: #eee;
    position: relative;
    cursor: pointer;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
input[type='checkbox']:checked.toggle {
    -moz-box-shadow: inset 0 0 0 15px #172983;
    -webkit-box-shadow: inset 0 0 0 15px #fff;
    box-shadow: inset 0 0 0 15px #172983;
}
input[type='checkbox'].toggle:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #aaa;
    top: -3px;
    left: 0px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

input[type='checkbox']:checked.toggle:after {
    left: 25px;
    background-color: #eee;
}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
    outline: none;
}
/******************main***************/


.main-wrapper{
    overflow: hidden;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.main-content{
  height: 100%;
}
.content-bb{
  width: 100%;
  height: 100%;
}
.content-me{
  padding: 70px 35px 35px;
}
.notPadding{
  padding:0;
}

/**************dashboard******************/
.count{
  font-size: 15px;
  line-height: 20px;
}

/******************accordion***************/

.heading-primary {
  text-align: center;
}

.accordion {
  position: relative;
}
.accordion th {
    background-color: #f3f3f3;
}

.accordion dd .accordionContent-child{
  padding:30px 40px;
}
.top-border-accordion{
  background-color: #172983;
  border-radius: 6px 6px 0 0;
  height: 6px;
}
.accordionTitle{
  background-color: #242B36;
  /*background-color: rgba(227, 91, 90, 0.7);*/
  color: #eee;
  text-align: center;
  font-weight: 700;
  padding: 25px;
  display: block;
  text-decoration: none;
  -webkit-transition:  0.5s ease-in-out;
  transition:  0.5s ease-in-out;
  border-radius:0 0 6px 6px;
  margin-bottom: 10px;
}
.accordionTitle.title-is-expanded{
  border-radius: 0;
}
.accordionTitle:before{
  content: "+";
  font-size: 20px;
  line-height: 10px;
  width: 10px;
  float: left;
  margin-top: 6px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.accordionTitle:hover{
  background-color: #172983;
  color: #fff;
}
.title-is-expanded{
  margin-bottom: 0;
}
.is-expanded{
  margin-bottom: 10px;
}
.accordionTitle.title-is-expanded:before {
  content: "-";
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.accordionItem {
  height: auto;
  background-color: #fff;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  max-height: 150em;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}

.accordionItem.is-collapsed {
  max-height: 0;
}

.animateIn {
  -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
          animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
  -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
          animation: accordionOut 0.45s alternate ease-in-out both 1;
}

/**************report detail******************/

/*replace e7eaec to dddfe2 for border color*/
.widgets-container {
  border-radius: 3px;
}
.profile-img-box{
    text-align: center;
    position: relative;
    padding: 0px 10px 10px;
}
.profile-img-box img{
  width: 70% !important;
  border: 1px solid #dddfe2;
}
.profile-img-box + .widgets-container{
  /*border-radius: 0 0 3px 3px;*/
  /*border-top: none;*/
}
.thumbnail-me{
    background-position: center;
    background-size: cover;
    min-height: 140px;
    display: block;
    position: relative;
    background-color: #172983;
}
.thumbnail-me i{
    position: absolute;
    top: calc(50% - 20px);
    right: 0;
    font-size: 40px;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
    text-align: center;
    left: 0;
}


/*************reports*******************/

.toggle-wrapper{
    text-align: center;

}
.toggle-mode{
  
}
.toggle-mode > .btn{
  border: 1px solid #dddfe2;
  color: #000;
  background-color: transparent;
  margin: 0;
  cursor: pointer;
  z-index: 22;
  width: 100px;
}
.toggle-mode > .btn.active{
    background-color: #ccc;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6) inset !important;
}

.page-heading{
  overflow: hidden;
}

.lable-status {
    height: 30px;
    border-radius: 60px;
    display: inline-block;
    font-weight: bold;
    color: #505b65;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    margin-left: 5px;
    padding: 0 10px;
}
.empty-map{
  color: #00acff;
  text-align: center;
}

/*************citizens*******************/
.citizen-detail i{
  width: 18px;
  text-align: center;
}

/****************news*******************/

.nemad{
  background-color: #e35b5a;
  padding: 0px 10px;
  font-size: 11px;
  color: #fff;
  border-radius: 50px;
}

.creat-item{
  position: absolute;
  left: 10px;
}
.search-item{
  position: absolute;
  left: 10px; 
}
.create-item{
    position: absolute;
    left: 35px;
    top: 20px;  
}
.create-item a{
    width: 125px; 
}
.toggle-answer{
    position: absolute;
    left: -10px;
    font-size: 20px;
    top: 3px;
    cursor: pointer;
}
.wrapper-poll-upload{
  height: 212px;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.wrapper-poll-upload img{
  height: 100%;
  border-radius: 5px;
}

.wrapper-poll-upload .designInImage{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
    z-index: 111;
    width: 50px;
    height: 50px;
    text-align:center;
}
.wrapper-poll-upload .btn-img-remove{
    left: 10px;
    right: auto;
}
.wrapper-poll-upload .figure-license{
    height: 100%;
    text-align: center;
}
.wrapper-poll-upload .progress{
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: -10px;
  z-index: 10;
}
.wrapper-poll-upload .fa-image{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 180px;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
    left: 0;
    text-align: center;
    background: #eee;
    border-radius: 5px;
    line-height: 210px;
}

.time-date .input-cnt{
  width: calc(50% - 3px);
  float: right;
}
.time-date .input-cnt:last-child{
  margin-right: 6px;
}
.section-polls .widgets-container .title{
  font-size: 20px;
  font-weight: bold;
}
.widgets-container li {
  list-style: unset;
}
.statistics-poll-wrapper{
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 40px;
}
.statistics-poll-wrapper #statisticsPolls{
  direction: ltr;
}
.wrapper-executive{
  padding: 10px 50px;
}
.wrapper-executive .wrapper-item-ex{
  margin: 0 0 10px 0;
}
.wrapper-executive .wrapper-item-ex:last-child{
  margin: 0 0 0px 0;
}

.menuBig .hasNotBeenSeened, table .hasNotBeenSeened{
  font-weight: bold;
}

.wrapper-box-poll{
    margin: 20px 0;
}
.wrapper-box-poll .col-sm-4{
    padding:0;
}

/****************warrants*******************/


.tab-wrap {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-wrap input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1;
}
.tab-wrap input[type="radio"][name="tabs"]:checked + .tab-label-content label {
  color: rgba(227, 91, 90, 1);
  background-color: rgba(227, 91, 90, 0.2);
}
.tab-wrap input[type="radio"][name="tabs"]:checked + .tab-label-content .tab-content {
  display: block;
}
.tab-wrap input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ .slide {
  right: calc((100% / 2) * 0);
}
.tab-wrap input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ .slide {
  right: calc((100% / 2) * 1);
}



.tab-wrap.tabLogs input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ .slide {
  right: calc((100% / 3) * 0);
}
.tab-wrap.tabLogs input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ .slide {
  right: calc((100% / 3) * 1);
}
.tab-wrap.tabLogs input[type="radio"][name="tabs"]:nth-of-type(3):checked ~ .slide {
  right: calc((100% / 3) * 2);
}



.tab-wrap input[type="radio"][name="tabs"]:first-of-type:checked ~ .slide {
  right: 0;
}

.tab-wrap label {
  cursor: pointer;
  color: rgba(227, 91, 90, 0.4);
  background-color: #fff;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 56px;
  -webkit-transition:  0.2s;
  transition: 0.2s;
  width: 100%;
}

.tab-wrap .slide {
  background: #172983;
  width: calc(100% / 2);
  height: 4px;
  position: absolute;
  right: 0;
  top: calc(100% - 4px);
  -webkit-transition: right 0.3s ease-out;
  transition: right 0.3s ease-out;
}
.tab-wrap.tabLogs .slide {
  width: calc(100% / 3);
}

.tab-wrap .tab-label-content {
  width: 100%;
}
.tab-wrap .tab-label-content .tab-content {
  position: absolute;
  top: 100px;
  left: 10px;
  right: 10px;
  line-height: 130%;
  display: none;
}

@media screen and (max-width: 800px) {
  .tab-wrap h1 {
    padding: 40px 0 90px 10%;
  }

  .tab-wrap {
  }
}
.tab-wrap .follow {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03A9F4;
  display: block;
  margin: 300px auto 0;
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}
.tab-wrap .follow i {
  margin-right: 20px;
  -webkit-transition: margin-right 0.2s ease;
  transition: margin-right 0.2s ease;
}
.tab-wrap .follow:hover {
  width: 134px;
}
.tab-wrap .follow:hover i {
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .tab-wrap .follow {
    margin: 400px auto 0;
  }
}

ul.menuBig{
    max-height: 400px;
    overflow-y: auto;
}


/**********************************/

table tr td, table tr td span, table tr td div{
  white-space: normal;
}

table tr td .center{
  text-align: center;
}

table tbody tr td{
  white-space: normal !important;
}

.breadcrumb a{
  cursor: default;
}

.mask-map-2{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}

.select-map-2{
    color: #fff;
    background-color: #172983;
    padding: 5px 10px;
    border: 1px solid #172983;
    border-radius: 5px;
    display: inline-block;
    margin-top: 130px;
    /*cursor: pointer;*/
}
.dataTables_processing{
    border: none;
    background-color: rgba(255,255,255,1) !important;
    background-image: none !important;
    box-shadow: none;
    z-index: 1;
    padding: 0 !important;
    width: 50px !important;
    margin-left: -25px !important;
    height: 50px !important;
    margin-top: -25px !important;
    border-radius: 100%;
}
.dataTables_processing .loading-container{
  margin: 0 auto; 
}
.dataTables_processing .loading-container,.dataTables_processing .loading-circle{
  width: 50px;
  height: 50px;
}
.dataTables_processing #loading-text{
    font-size: 8px;
    margin-top: 20px;
    width: 50px;
}
tr.hasBeenSeened{
    background-color: #f7f6f6 !important;
}

.left-text{
    text-align: left !important;
}

.bootstrap-select .parent-item{
  /*border-top: 1px solid #ccc !important;*/
  margin-right: -10px !important;
  font-weight: bold !important;
}

.dropdown.dropdown-user .username{
      /*min-width: 50px;*/
     display: inline-block; 
}

.navbar-default{
  background-color: #fff;
  border : 1px solid #dddfe2;
  border-radius: 3px;
}
.m-r-10{
  margin-right: 10px;
}