<div class="modal-content">
    <div class="modal-header">
        <a type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title" id="myModalLabel">اطلاعات مربوط به خبر</h4>
    </div>


    <div class="modal-body clearfix"> 

        <form enctype="multipart/form-data" action = "<%=Application.URL%>/api/upload" style="margin:0">
            <div class="col-md-6">
                <div class="wrapper-poll-upload">

                    <%
                    var image = '';
                    if( model && model.image ){
                        image = Application.URL + '/upfiles/' + model.image;
                        showOrHide = 'hide';
                    }else{
                        <!-- image = '/images/avatar.png' -->
                        image = '';
                        showOrHide = 'show';
                    }
                    %>

                    <figure class = "figure-license" style = "position: relative;">
                        <a class = "verticalCenter btn-img-remove designInImage">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                        <img  src="<%= image %>" itemprop="thumbnail" />
                        <i class="fa fa-image <%= showOrHide %>" aria-hidden="true"></i>
                    </figure> 

                    <a class = "verticalCenter designInImage btn-add-upload">
                        <i class="fa fa-upload"></i>
                    </a> 


                    <div class="progress hide" style = "direction: ltr">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="float: left;">
                        </div>
                    </div>

                        <input type="file" name="documents" id = "fileupload" class = "hide">
                        <input type="hidden" name="type" value = "3">
<!--                         <div id="dropzone" class = "image-holder fade well">
                            محل انداختن تصویر پروانه فعالیت
                        </div>   -->  



                </div>
            </div>    
        </form> 

        <form id = "pollForm">
            <input type="hidden" name="image" id = "docInput" value="<%= image %>">
                
            <div class="input-line clearfix" style="margin-bottom:0">     
                <div class="col-md-6">
                    <div class="input-line clearfix">
                        <div class="input-cnt form-control clearfix">
                            <span class="lable-input">نماد</span>
                            <select name="minEducation" class="selectpickerplugin education" title="انتخاب کنید" >
                                <option value="0">انتخاب کنید</option>
                                <% 
                                    var list = [];
                                    _.each(App.AssetModel.get('educations'), function(item){
                                        list.push(item);
                                    })

                                    _.each(list, function(item){
                                    
                                        if( model && model.minEducation && item.id == model.minEducation ){%>
                                            <option value="<%=item.id%>" selected><%=item.name%></option>
                                        <%}else{%>
                                            <option value="<%=item.id%>"><%=item.name%></option>
                                        <%}
                                    
                                    })%>
                            </select>
                        </div>
                    </div>
                    <div class="input-line clearfix">
                        <div class="input-cnt form-control clearfix">
                            <span class="lable-input">عنوان</span>
                            <input name="title"  class="input-input" value="<%=model.title%>" />
                        </div>
                    </div>    
                    <div class="input-line clearfix description-box">
                        <div class="input-cnt form-control clearfix">
                            <span class="lable-input">متن خبر</span>
                            <textarea name="text" placeholder="" rows="5"><%=model.text%></textarea>
                        </div>
                    </div>

                </div>
            </div>    
        </form>       
    </div>  
 
    <div class="modal-footer">
        <div class="col-md-12">
            <button type="button" class="btn blue btn-outline btn-sm" data-dismiss="modal">بستن</button>
            <button type="button" class="btn red btn-sm btn-submit">ذخیره</button>
        </div>
    </div>
            
</div>

