
    <nav class="navbar navbar-default verticalCenter">
        <div class="creat-item">
            <a type="button" class="btn red btn-sm approve">
                <span>ایجاد خبر</span>
            </a>
        </div>
    </nav>

    <table id="myDatatable" class="table table-hover responsive nowrap table-bordered dataTable no-footer dtr-inline">
        <thead>
            <tr>
                <th>شماره خبر</th>
                <th>موضوع</th>
                <th>نمادها</th>
                <th>منبع</th>
                <th>تاریخ انتشار</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false"></div>