
<% 
var image = '';
var flag = false;

if( model && model.image ){
    image = Application.URL + '/upfiles/' + model.image;
    flag = true;
}else{
    image = '/images/bgImage.png'
}

var status = '-';
  switch( model.status ){
    case 0 :
    case '0':
        status = 'غیر فعال';
        break;
    case 1 :
    case '1':
        status = 'فعال';
        break;

    case 2 :
    case '2':
        status = 'در انتظار';
        break;

    case 3 :
    case '3':
        status = 'تمام شده';
        break;
  }


var gender = '-';
  switch( model.gender ){
    case 0 :
    case '0':
        gender = 'فرقی نمیکند';
        break;
    case 1 :
    case '1':
        gender = 'مرد';
        break;

    case 2 :
    case '2':
        gender = 'زن';
        break;
  }


var minEducation = '-';
  switch( model.minEducation ){

    case 1 :
    case '1':
        minEducation = 'بدون سواد';
        break;

    case 2 :
    case '2':
        minEducation = 'زیر دیپلم';
        break;
    case 3 :
    case '3':
        minEducation = 'دیپلم';
        break;

    case 4 :
    case '4':
        minEducation = 'فوق دیپلم';
        break;
    case 5 :
    case '5':
        minEducation = 'لیسانس';
        break;

    case 6 :
    case '6':
        minEducation = 'فوق لیسانس';
        break;
    case 7 :
    case '7':
        minEducation = 'دکتری';
        break;                        
  }  
  

%>

<div class="wrapper border-bottom page-heading clearfix">
  <div class="col-sm-12">
    <h2>خبر شماره <%= model.id %></h2>
    <div class="wrapper-btn-detail pull-left">
        <button type="button" class="btn blue btn-outline btn-sm edit">ویرایش</button>
        <button type="button" class="btn red btn-sm remove">حذف</button>
    </div>
  </div>
</div>



<div class="wrapper-content ">
  <div class="row">

          <div class="col-sm-12" style="padding: 0;">
            <div class="ibox float-e-margins">
                <div class="widgets-container">


                  <% if(model.title ){ %>
                  <p style="text-align:center;">
                    <span class="title"><%= model.title %></span>
                  </p>
                  <% }%>

                  <div class="wrapper-box-poll clearfix">
                    <div class="col-sm-4">
                      <% if(flag){ %>
                      <a data-type="image" class="" href="<%= image %>" data-toggle="lightbox">
                      <% } %>  
                        <img src="<%= image %>" class="full-width" alt="image" />
                      <% if(flag){ %>
                      </a>
                      <% } %>  
                    </div>
                    <div class="col-sm-8">
                      <p>
                        <span><%= model.description %></span>
                      </p> 
                      <div> 
                          <!-- <% _.each( model.sambols, function(item){ %> -->
                          <!-- <%})%> -->
                            <span class="nemad"><%= model.sambols %></span>
                      </div>
                    </div>
                  </div>


                </div>
            </div>     
          </div>


  </div>            
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false"></div>