
<div class = "location-holder" data-item-id="<%= currentIndex %>">
    <div class="input-line clearfix">
        <div class="col-md-5">
            <div class = "title-me">آدرس <%= currentIndex %>: </div>    
        </div>
    </div>

    <div class="input-line clearfix">
        <div class="col-md-10">
            <div class="input-cnt form-control clearfix">
                <span class="lable-input">نام</span>
                <input name="name" class="input-input name" placeholder="نام" value="<%=(location && location.name ? location.name : '')%>"  />
            </div>
        </div>
    </div>
    <div class="input-line clearfix">
        <div class="col-md-5">
            <div class="input-cnt form-control clearfix">
                <span class="lable-input">استان</span>
                <select name="province" class="selectpickerplugin province" title="انتخاب استان" data-item-id="<%= currentIndex %>">
                </select>
            </div>
        </div>
        <div class="col-md-5">
            <div class="input-cnt form-control clearfix">
                <span class="lable-input">شهر</span>
                <select name="city" class="selectpickerplugin city" title="انتخاب شهر" data-item-id="<%= currentIndex %>">
                </select>
            </div>
        </div>
    </div>
    <div class="input-line clearfix hide">
        <div class="col-md-5">
            <div class="input-cnt form-control clearfix">
                <span class="lable-input">عرض جغرافیایی</span>
                <input name="latitude" class="input-input latitude" placeholder="عرض جغرافیایی" value="<%=(location && location.latitude ? location.latitude : '')%>"/>
            </div>
        </div>
        <div class="col-md-5">
            <div class="input-cnt form-control clearfix">
                <span class="lable-input">طول جغرافیایی</span>
                <input name="longitude" class="input-input longitude" placeholder="طول جغرافیایی" value="<%=(location && location.longitude ? location.longitude : '')%>"/>
            </div>
        </div> 
    </div>
    <div class="input-line clearfix">
        <div class="col-md-5">
            <div class="input-cnt form-control clearfix">
                <span class="lable-input">تلفن</span>
                <input name="telephone" class="input-input telephone" placeholder="تلفن صاحب بار" value="<%=(location && location.telephone ? location.telephone : '')%>"  />
            </div>
        </div>
    </div>
   
    <div class="input-line clearfix">
        <div class="col-md-10">
            <div class="input-cnt form-control clearfix">
                <span class="lable-input">آدرس</span>
                <input name="address" class="input-input address" placeholder="آدرس محل بارکیری" value="<%=(location && location.address ? location.address : '')%>"/>
            </div>
        </div>
    </div>

    <div class="input-line clearfix">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <div class = "row-btn-holder">
                <a class="toggle-add-new-model-btn remove-address red-font-color" data-toggle="tooltip" data-placement="top" title="حذف آدرس <%= currentIndex %>">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </a>
                <a class="btn-me red-bg-color side main-remove-address" >
                    حذف آدرس <%= currentIndex %>
                </a>
            </div>
        </div>
    </div>
    <div class = "input-line clearfix">
        <div class = "col-md-9">
            <div class = " divider-me"></div>
        </div>
    </div>
    <div class="input-line clearfix">
        <div class="col-md-12">
            <div class="content-box" style="width: 100%;">
                <div class="title-content" style="margin: 0;">نقشه</div>
                <div class="map-freightage samaneh" id = "address-map-canvas">
                    <div class="loading">
                        <div>
                            <div class="c1"></div>
                            <div class="c2"></div>
                            <div class="c3"></div>
                            <div class="c4"></div>
                          </div>
                          <span>لطفا صبر کنید</span>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
