
<%switch(type){
	case 'projects':
	case 'task':
	%>
		<div>
			<a class = "item" href = "#<%=type%>/<%= model.id %>" >
		    	<i class="<%= project_task_icon %>"></i>
		    	<span><%= pT %></span> از
		    	<span><%= sL %></span>
		    	<span class="urgent-more"><%= urgent %></span>
		    </a>
		</div>
	<% break;
	case 'status_project': %>
		<div class="cnt-car-item col-md-6">
		    <div class="car-item">
		    	<i class="icon-task_carIcon"></i>
		    	<a class="item plaq-text" href = "#driver/<%= model.id %>">
		    		<span><%= model.firstname %>  <%= model.lastname %></span>
		    	</a>
		    	<span style = "margin-right: 10px "><%= model.mobile %></span>
		   </div>
		</div>
	<% break;
} %>
