    <div class="modal-content">
    <div class="modal-header">
        <a type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title" id="myModalLabel">
        
            <%
            var title = "";
            switch( type ){
                case 'Project':
                    title = "لیست بسته‌ها"
                    break;
                case 'Task':
                    title = "لیست بار‌ها"
                    break;
            }
            %>
            <%=title%>
        </h4>
    </div>
    <div class="modal-body clearfix">
  	   <div class="sub-tpl modal-car-Item clearfix">
          
       </div>		
    </div>
</div>
