<form>
    <div class="input-line clearfix"  data-item-id="<%= itemId %>">
        <div class="input-line clearfix">
            <div class="col-md-5">
                <div class = "title-me">آدرس <%= itemId %>: </div>    
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-cnt form-control clearfix">
                <span class="lable-input">نام کاربری</span>
                <input name="username" class="input-input" placeholder="نام کاربری" value="<%=(model && model.username ? model.username : '')%>"  />
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-cnt form-control clearfix">
                <span class="lable-input">نقش</span>
                <select name="roleId" class="selectpickerplugin" title="نقش" data-item-id="<%= itemId %>">
                    <option value = "121">مدیر</option>
                    <option value = '122'>متصدی</option>
                </select>
            </div>
        </div>
    </div>
    <div class="input-line clearfix">
        <div class="col-md-6">
            <div class="input-cnt form-control clearfix">
                <span class="lable-input">نام</span>
                <input name="firstname" class="input-input" placeholder="نام" value="<%=(model && model.firstname ? model.firstname : '')%>"  />
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-cnt form-control clearfix">
                <span class="lable-input">نام خانوادگی</span>
                <input name="lastname" class="input-input" placeholder="نام خانوادگی" value="<%=(model && model.lastname ? model.lastname : '')%>"  />
            </div>
        </div>
    </div>
    <div class="input-line clearfix">
        <div class="col-md-6">
            <div class="input-cnt form-control clearfix">
                <span class="lable-input">کد ملی</span>
                <input name="nationalId" class="input-input" placeholder="کد ملی" value="<%=(model && model.nationalId ? model.nationalId : '')%>"  />
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-cnt form-control clearfix">
                <span class="lable-input">موبایل</span>
                <input name="mobile" class="input-input" placeholder="موبایل" value="<%=(model && model.mobile ? model.mobile : '')%>"  />
            </div>
        </div>
    </div>

    <div class="input-line clearfix">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <div class = "row-btn-holder">
                <a class="toggle-add-new-model-btn remove-people red-font-color" data-toggle="tooltip" data-placement="top" title="حذف کاربر <%= itemId %>">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </a>
                <a class="btn-me red-bg-color side main-remove-people" >
                    حذف آدرس <%= itemId %>
                </a>
            </div>
        </div>
    </div>

    <div class="input-line clearfix">
        
    </div>

    <div class = "input-line clearfix">
        <div class="col-md-12">
            <div class = "divider-me"></div>
        </div>
    </div>

</form>
