
    <div class="input-line clearfix">
        <div class="col-md-5">
            <div class = "title-me">ماشین <span class = "currentIndex-text"><%= currentIndex %></span>: </div>    
        </div>
    </div>

    
    <div class="input-line clearfix">
        <div class="col-md-6">
            <div class="input-cnt form-control clearfix">
                <span class="lable-input">نوع کامیون</span>
                <select name="type" class="selectpickerplugin type" title="انتخاب کنید" data-live-search="true">
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-cnt form-control clearfix pluq-holder">
                <span class="lable-input">پلاک</span>
                <div class="plaque-wrapper">
                    <div>

                        <%
                            var pn = '', pn1 = '', pn2 = '', pn3 = '';
                            
                            if(model && model.vehicle && model.vehicle.plaqueNumber){
                                pn = model.vehicle.plaqueNumber;

                                if( pn && (pn.length == 1) ){
                                    pn = '';
                                }

                                if( pn ){
                                    
                                    pn1 = pn.slice(0,2);
                                    pn2 = pn.slice(2,3);
                                    pn3 = pn.slice(3,6);
                                }
                            }
                        %>

                        <input name="plaqueNumber1" class="plaque-part p1 numberInput number-input next-number" type="text"  maxlength="2" size="2" value = "<%= pn1 %>">
                        
                        <select name="plaqueNumber3" class="selectpickerplugin p3" title="انتخاب کنید" data-val = "<%= (pn2 ? pn2 : 'ع') %>">
                            
                        </select>
                        
                        <input name="plaqueNumber2" class="plaque-part p2 numberInput number-input next-number" type="text"  maxlength="3" size="3" value = "<%= pn3 %>">
                        
						<input name="plaqueNumber" type="hidden"/>

                        <span class="plaque-text plaque-slash p4">/</span>             
                        
                        <input name="plaqueCode" class="plaque-part numberInput p5 number-input next-number" type="text"  maxlength="2" minlength="2" size="2" value = "<%= (model && model.vehicle && model.vehicle.plaqueCode ? model.vehicle.plaqueCode  : '') %>">
                        
                        <span class="plaque-text plaque-iran p6">ایران</span> 
                        <input name="plaqueNationality" type="hidden"/>           
                         
                    </div>
                </div>    
            </div>
        </div>
        
    </div>
    <div class="input-line clearfix">
        <div class="col-md-6">
            <div class="input-cnt form-control clearfix">
                <span class="lable-input">برند</span>
                <select name="brand" class="selectpickerplugin brand" title="انتخاب کنید" data-live-search="true">
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-cnt form-control clearfix">
                <span class="lable-input">کارت هوشمند ناوگان</span>
                <input name="intelligentId" class="input-input numberInput" type="text" value = "<%= model && model.vehicle && model.vehicle.intelligentId ? model.vehicle.intelligentId : '' %>">
                
            </div>
        </div>
        
    </div>
    <div class="input-line clearfix">
        <div class="col-md-6">
            <div class="input-cnt form-control clearfix">
                <span class="lable-input">رنگ</span>
                <select name="color" class="selectpickerplugin color" title="انتخاب کنید" data-live-search="true">
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-cnt form-control clearfix select-input clearfix">
                <span class="lable-input">مدل</span>
                    <select name="vehicleDate" class="selectpickerplugin select-main-me select-me main" title="انتخاب کنید">
                    
                    </select>
                    <select class="selectpickerplugin select-me side" title="انتخاب کنید">
                    </select>
            </div>
        </div>
    </div>
    <div class="input-line clearfix">
        <div class="col-md-6">
            <span class="lable-checked-me">آیا شما مالک این کامیون هستید؟</span> 
            <div class="checked-me isOwner-check">
                
                <input class='toggle' type="checkbox" name='isOwner' <%= (model && model.isOwner) ? "checked" : "" %> />
            </div>
        </div>
        <div class="col-md-6">
            <span class="lable-checked-me">آیا الان روی این کامیون کار میکنید؟</span>  
            <div class="checked-me isCurrent-check">
               
                <input class='toggle isCurrent' type="checkbox" name='isCurrent' <%= (model && model.isCurrent) ? "checked" : "" %> />
               
            </div>              
        </div>
    </div>
    
     <div class="input-line clearfix">
        <div class="col-md-11">
            <div class = " divider-me set-height-11"></div>
        </div>
        <div class="col-md-1">
			<div class = "row-btn-holder " data-toggle="tooltip" data-placement="top" title="حذف">
				<i class="fa fa-times btn-remove-form" aria-hidden="true"></i>
			</div>
        </div>
    </div>
