<li class = "article-row ibox float-e-margins" id = "<%= model.id %>">
    <div class="widgets-container clearfix">
    	<h3 class="col-md-9" style="padding: 0;">
			
			<% 
			var name = '';
			if( model.categoryId ){ 
				var cat = Application.CategoriesCollection.get( model.categoryId );
				if( cat && cat.get('name') ){
					name = cat.get('name');
				}
			} %>

			<%= name %>
		</h3>
		<div class="col-md-3" style="padding: 0;margin-bottom: 25px;">
			<a class = "btn btn-sm btn-danger btn-del m-r-10 pull-left">Delete</a>
			<a class = "btn btn-sm red btn-edit pull-left">Edit</a>
		</div>	
		<p class="col-md-12">
			<%= model.content %>
		</p>
    </div>

</li>