<div class="modal-content">
    <div class="modal-header">
        <a type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 id="myModalLabel">اطلاعات مربوط به تحلیل</h4>
    </div>

    <form class="">
        <div class="modal-body clearfix">
            <div class="input-line clearfix">
                <div class="col-md-6">
                    <div class="input-cnt form-control clearfix">
                        <span class="lable-input">نام</span>
                        <input name="content" class="input-input" value="<%= (model.content ? model.content : '') %>">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-cnt form-control clearfix">
                        <span class="lable-input">نوع</span>
                        <select name = "categoryId" class="selectpickerplugin category" title="انتخاب کنید" >
                        </select>
                    </div>
                </div>   
            </div>
            <div class="input-line clearfix">
                <div class="col-md-6">                      
                    <div class="input-cnt form-control clearfix">
                        <span class="lable-input">تاریخ</span>
                        <input name="publishDate" class="input-input txleft date-picker publish-date" value="" />
                    </div>
                </div>              
            </div>
        </div>  
 
        <div class="modal-footer">
            <div class="col-md-12">
                <button type="button" class="btn red btn-outline btn-sm" data-dismiss="modal">بستن</button>
                <button type="button" class="btn red btn-sm btn-submit">ذخیره</button>
            </div>
        </div>
    </form>     
</div>
