    <nav class="navbar navbar-default verticalCenter">
        <div class="input-line clearfix" style="margin: 0;">
            <div class="col-md-4">                      
                <div class="input-cnt form-control clearfix">
                    <span class="lable-input">از تاریخ</span>
                    <input name="startDate"  class="input-input txleft date-picker start-date" value="" />
                </div>
            </div>    
            <div class="col-md-4">                      
                <div class="input-cnt form-control clearfix">
                    <span class="lable-input">تا تاریخ</span>
                    <input name="startDate"  class="input-input txleft date-picker end-date" value="" />
                </div>
            </div>                
        </div>
        <div class="search-item">
            <a type="button" class="btn red btn-sm btn-search">
                <span>جستجو</span>
            </a>
        </div>
    </nav> 

<div class="tbl-article hide">
    <table id="myDatatable" class="table table-hover responsive nowrap table-bordered dataTable no-footer dtr-inline">
        <thead> 
            <tr>
                <th>روز</th>
                <th>تاریخ</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>