        <div class="create-item">
            <a type="button" class="btn red btn-sm btn-show-form">
                <span>ایجاد</span>
            </a>
        </div>

<% if( !showDates ){ %>
	<div class = "list-holder">
		<div class="loading-wrapper">
			<div class="loading-container">
				<div class="loading-circle"></div>
				<div id="loading-text">شکیبا باشید</div>
			</div> 
		</div>  
	</div>
<% }else{ %>

<div class = "list-holder"></div>

<% } %>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false"></div>