   <a class = "notification notify-item <%=model.status == 0 ? 'hasNotBeenSeened' : ''%>  <%=model.clickable ? 'clickable' : ''%> " data-id = "<%= model.id %>">
        <div> 
            <i class="fa fa-envelope fa-fw"></i>
            <span class=""><%= model.refText %></span>
            <span class=""><%= (model.refId ?  model.refId : '' ) %></span>
            <small class = "pull-left text-muted small ltr"><%= App.convertUTCDate( model.createdDate ) %></small>
        </div>
        <div class="media-text-bottom clearfix" style = "font-size: 10px">
            <div><%= model.text %></div>
        </div>
    </a> 
