<ul class = "dropdown-menu dropdown-alerts menuBig">

<!-- <li class="divider"></li>
<li>
    <div class="text-center link-block"> 
        <a href="#"> <strong>موارد بیشتر</strong> 
            <i class="fa fa-angle-left"></i> 
        </a> 
    </div>
</li> -->
</ul>