<div class="modal-content">
    <div class="modal-header">
        <a type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title" id="myModalLabel">اطلاعات مربوط به کاربر</h4>
    </div>

    <form class="">
        <div class="modal-body clearfix">
            <div class="input-line clearfix">
                <div class="col-md-6">
                    <div class="input-cnt form-control clearfix">
                        <span class="lable-input">شماره کاربری</span>
                        <input name="id" disabled="disabled" class="input-input" value="<%= (model && model.id ? model.id: '') %>">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-cnt form-control clearfix">
                        <span class="lable-input">نام کاربری</span>
                        <input name="username" class="input-input" value="<%= (model && model.username ? model.username: '') %>">
                    </div>
                </div>
            </div>
            <div class="input-line clearfix">
                <div class="col-md-6">
                    <div class="input-cnt form-control clearfix">
                        <span class="lable-input">نام</span>
                        <input name="firstName" class="input-input" value="<%= (model && model.firstName ? model.firstName: '') %>">
                    </div>
                </div>   
                <div class="col-md-6">
                    <div class="input-cnt form-control clearfix">
                        <span class="lable-input">نام خانوادگی</span>
                        <input name="lastName" class="input-input" value="<%= (model && model.lastName ? model.lastName: '') %>">
                    </div>
                </div>
            </div> 
            <div class="input-line clearfix">
                <div class="col-md-6">
                    <div class="input-cnt form-control clearfix">
                        <span class="lable-input">موبایل</span>
                        <input name="mobile" disabled="disabled" class="input-input" value="<%= (model && model.mobile ? model.mobile: '') %>">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-cnt form-control clearfix">
                        <span class="lable-input">ایمیل</span>
                        <input name="email" class="input-input" value="<%= (model && model.email ? model.email: '') %>">
                    </div>
                </div>                
            </div> 
            <div class="input-line clearfix">
                <div class="col-md-6">
                    <div class="input-line clearfix">
                        <span class="lable-checked-me">وضعیت کاربر </span>
                        <div class="checked-me poll-check">
                            <% if(model && model.frozen ) { %>
                            <input class='toggle' type="checkbox" name='frozen' checked/>
                            <% } else { %>
                            <input class='toggle' type="checkbox" name='frozen'/>
                            <% } %>
                        </div>
                    </div>
                </div>  
            </div>                     
        </div>  
 
        <div class="modal-footer">
            <div class="col-md-12">
                <button type="button" class="btn red btn-outline btn-sm" data-dismiss="modal">بستن</button>
                <button type="button" class="btn red btn-sm btn-submit">ذخیره</button>
            </div>
        </div>
    </form>		
</div>
