    <% if( mode && mode == "users" ){  %>
    <nav class="navbar navbar-default verticalCenter">
        <div class="toggle-wrapper">
            <div class="btn-group btn-group-sm toggle-mode toggle-status" role="group">


                    <a type="button" class="btn col-sm-4 approved-status active filter" data-id="0">
                        <span>فعال</span>
                    </a>
                    <a type="button" class="btn col-sm-4 waiting-status filter" data-id="1">
                        <span>غیر فعال</span>
                    </a>    
            </div>
        </div>
    </nav>    
    <% } %>


    <table id="myDatatable" class="table table-hover responsive nowrap table-bordered dataTable no-footer dtr-inline">
        <thead>
            <tr>
                <th>شماره کاربر</th>
                <th>نام کاربری</th>
                <th>نام و نام خانوادگی</th>
                <th>موبایل</th>
                <th>وضعیت</th>
                <th>نمادها</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
