<div class = "list-holder">
	<div class="loading-wrapper">
		<div class="loading-container">
			<div class="loading-circle"></div>
			<div id="loading-text">شکیبا باشید</div>
		</div> 
	</div>  
</div>