


<div class="wrapper border-bottom page-heading clearfix">
	<div class="col-sm-12">
		<h2>مشخصات کاربر</h2>

    
    <div class="wrapper-btn-detail pull-left">
      <button type="button" class="btn red btn-outline btn-sm edit">ویرایش</button>
      <button type="button" class="btn red btn-sm remove">حذف</button>
    </div>
    

	</div>
</div>



<div class="wrapper-content ">
	<div class="row">

          <div class="col-sm-8 col-sm-offset-2">
            <div class="ibox float-e-margins">
                <div class="widgets-container citizen-detail" style="padding: 23px 15px;">
                  <p>
                    <span>شماره کاربری : </span> 
                    <span ><%= ( model.id ? model.id : '-') %> </span>
                  </p>                  
                  <p>
                    <span>نام کاربری : </span> 
                    <span ><%= ( model.username ? model.username : '-') %> </span>
                  </p>
      						<p>
                    <span>نام و نام خانوادگی : </span> 
                    <span><%= ( model.firstName ? model.firstName : '-') + ( model.lastName ? model.lastName : '-') %></span>
                  </p>
                  <p>
                    <span>موبایل : </span> 
                    <span ><%= ( model.mobile ? model.mobile : '-') %> </span>
                  </p>
                  <p>
                    <span>ایمیل : </span>
                    <span ><%= ( model.email ? model.email : '-') %> </span>
                  </p> 
                  <p>
                    <%
                      var status = "غیر فعال"; 
                      if( model && model.frozen ){  
                        var status = "فعال";  
                      } 
                    %>
                    <span>وضعیت : </span>
                    <span ><%= status %> </span>
                  </p> 
                </div>
            </div>
          </div>
  </div>            
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false"></div>