

    <div class="accordion">
        <dl>
          <dt>
            <div class="top-border-accordion"></div>
            <a class="btn accordionTitle accordionTitleReport" aria-controls='accordion1'>
                <span>گزارش های جدید</span>
                <span>(<span class="count pendingReports" ></span>)</span>
            </a>
          </dt>
          <dd class="accordionItem is-collapsed" id="accordion1">
        		<div class = "accordionContent">
              <div class="accordionContent-child">
              	<div class = "list-holder list-reports">
                  <div class="loading-wrapper">
                    <div class="loading-container">
                      <div class="loading-circle"></div>
                      <div id="loading-text">شکیبا باشید</div>
                    </div>
                  </div>
                </div>
              </div>
        		</div>
          </dd>
          <dt>
            <div class="top-border-accordion"></div>
            <a class="btn accordionTitle accordionTitleIdea" aria-controls='accordion2'>
                <span>ایده های جدید</span>
                <span>(<span class="count pendingIdeas" ></span>)</span>
            </a>
          </dt>
          <dd class="accordionItem is-collapsed" id="accordion2">
            <div class = "accordionContent">
              <div class="accordionContent-child">
                <div class = "list-holder list-ideas">
                  <div class="loading-wrapper">
                    <div class="loading-container">
                      <div class="loading-circle"></div>
                      <div id="loading-text">شکیبا باشید</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </dd>
          <dt>
            <div class="top-border-accordion"></div>
            <a class="btn accordionTitle accordionTitleExpire" aria-controls='accordion3'>
                <span>حکم کار های رسیدگی نشده</span>
                <span>(<span class="count expiredWarrants" ></span>)</span>
            </a>
          </dt>
          <dd class="accordionItem is-collapsed" id="accordion3">
            <div class = "accordionContent">
              <div class="accordionContent-child">
                <div class = "list-holder list-expires">
                  <div class="loading-wrapper">
                    <div class="loading-container">
                      <div class="loading-circle"></div>
                      <div id="loading-text">شکیبا باشید</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </dd> 
          <dt>
            <div class="top-border-accordion"></div>
            <a class="btn accordionTitle accordionTitleExecutiveReport" aria-controls='accordion4'>
                <span>گزارش های رسیدگی نشده توسط واحد اجرایی</span>
                <span>(<span class="count expiredExecutiveReports" ></span>)</span>
            </a>
          </dt>
          <dd class="accordionItem is-collapsed" id="accordion4">
            <div class = "accordionContent">
              <div class="accordionContent-child">
                <div class = "list-holder list-executiveReports">
                  <div class="loading-wrapper">
                    <div class="loading-container">
                      <div class="loading-circle"></div>
                      <div id="loading-text">شکیبا باشید</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </dd>          
        </dl>
    </div>

    
<div class="modal fade createPackage" id="createPackage" tabindex="-1" role="dialog" aria-labelledby="createPackage" data-backdrop="static" data-keyboard="false"></div>
<div class="modal fade createCargoInPackage" id="createCargoInPackage" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false"></div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false"></div>
